// sanger-tol job config is here:
// https://github.com/sanger-tol/genomeassembly/blob/dev/conf/base.config

profiles {
 
    pawsey {
        // workDir = "/scratch/pawsey1132/atims/genome_launcher_testing/work/"

        params {
            max_cpus = 256
            max_memory = 1020.GB
            max_time = 4.d
        }

        //  Note, it's tempting to use the apptainer profile, but the nf-core
        //  (and some sanger-tol) pipelines have a conditional
        //  `workflow.containerEngine == 'singularity'` that prevents using the
        //  right URL with apptainer.
        singularity {
            enabled = true
            autoMounts = true
            runOptions = '-B $PWD,$TMPDIR,/scratch -H $(mktemp -d) --pwd $PWD --containall --cleanenv --writable-tmpfs'
            pullTimeout = 12.h
        }

        // Submit up to 256 concurrent jobs (Setonix work partition max)
        executor {
            queueSize = 128
        }

        // Define process resource limits
        process {
            resourceLimits = [
                memory: 1020.GB,
                cpus: 256,
            ]
            executor = 'slurm'
            module = 'singularity/4.1.0-nohost'
            cache = 'lenient'
            stageInMode = 'symlink'
            queue = { task.memory > 235520.MB ? 'highmem' : (task.time > 1.d ? 'long' : null) }
            // Try to avoid the long queue by redefining the time for jobs that
            // request more than 1.d on the first attempt. Subsequent attempts
            // won't be modified.

            // Pawsey is giving me error 125 when the OOM killer is active. Try
            // to override the default spec (which is here:
            // https://github.com/sanger-tol/genomeassembly/blob/31b508a3bd8998a27f6d06d5dc41bea4707b4a03/conf/base.config#L18)
            errorStrategy = { task.exitStatus in ((130..145) + 104 + 125) ? 'retry' : 'finish' }

            // shorten process time to avoid getting stuck in Pawsey's long queue
            withName:SAMTOOLS_MERGE {
                time    = { 12.h  * task.attempt }
            }

            withName: PRETEXTMAP {
                container = 'quay.io/sanger-tol/pretext:0.0.3-yy5-c1'
                time = { 12.h * task.attempt }
            }

            withName: PRETEXTMAP_STANDRD {
                container = 'quay.io/sanger-tol/pretext:0.0.3-yy5-c1'
                time = { 12.h * task.attempt }
            }

            withName: PRETEXTMAP_HIGHRES {
                container = 'quay.io/sanger-tol/pretext:0.0.3-yy5-c1'
                time = { 12.h * task.attempt }
            }

            withName: PRETEXT_GRAPH {
                container = 'quay.io/sanger-tol/pretext:0.0.3-yy5-c1'
            }

            withName: PRETEXT_INGEST_SNDRD {
                container = 'quay.io/sanger-tol/pretext:0.0.3-yy5-c1'
            }

            withName: PRETEXT_INGEST_HIRES {
                container = 'quay.io/sanger-tol/pretext:0.0.3-yy5-c1'
            }

            withName: ".*GAWK.*" {
                container = 'quay.io/biocontainers/gawk:5.3.0'
            }
            withName: GAWK {
                container = 'quay.io/biocontainers/gawk:5.3.0'
            }

        }

        aws {
            client {
                endpoint = 'https://projects.pawsey.org.au'
                s3PathStyleAccess = true
                maxConnections = 4
                maxErrorRetry = 20
                uploadMaxAttempts = 20
            }
        }
    }
}
